.App {
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
  font-style: normal;
  font-weight: 200;
  color: aliceblue;
  font-size: 3rem;
  display: flex;
  background-color: rgb(21, 20, 20);
  flex-direction: column;
align-items: center;


}
.head{
  margin-bottom: 150px;
}

h1{
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 3px;
  font-size: 6.8rem;
}
.i-github{
  height:20px;
  width:20px;
}

.project-arrow{
  line-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:30px;

}

.project-header{
  margin-bottom: 30px;
  font-family: 'Signika Negative', sans-serif;

}

.project-cabinet{
  background-color: aqua ;
  width: 90%;
  }
  
.projects{
  display: flex;
  border-top:2px solid grey ;
  border-bottom:2px solid grey ;
  background-color: blue;
}
.project-container2{
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  background-color: blanchedalmond;
  width: 100%;
}


.description{
  font-size: 1rem;
}

.first{
  background-color: red;
}

  
.two-button{
  background-color: red;
  display: flex;
  justify-content: end;
}



.head{
  display: flex;
  justify-content: center;
  text-align: left;

  width: 90%;
  margin-top:100px;
}

.right-head{
  margin-right: 10px;
}

.link-container{
 
}

img{
  height:30px;
  width:30px;
}
.contact-links{
  display: flex;
  flex-direction: row;
  grid-gap:25px;

}

button{
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  font-family: 'Signika Negative', sans-serif;
  letter-spacing: 1.5px;
  color: aliceblue;
  border-radius: 4%;
  border: 0;
  padding: 10px 15px 10px 15px;
}

.btn{
  background-color: rgb(104, 3, 104);
}
.btn2{
  background-color: rgba(236, 236, 236, 0);
  border: 2px solid aliceblue;
  border-radius: 50px;

}

.btn2:hover{
  color: black;
  background-color: aliceblue;

}



a{
  text-decoration: none;
  color: aliceblue;
}
a:hover{
  color: rgb(241, 178, 100);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover{
  color: rgb(241, 178, 100);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 150px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* SkillsBar */

.skills-bar-container{
  width:100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-box-1{
  width: 480px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  
}
.skills-title{
  font-size: 30px;
}
.logo-text{
  font-size: 20px;
}
.logos{
  width: 80px;
  height: 80px;
}

.logo-ring{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: solid 1px white;
  display:flex;
  justify-content: center;
  align-items: center;

}
.logo-inner-ring{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
/*--End-SkillsBar--*/


/* NavBar Start */
.navbar{
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(21, 20, 20);
}
.navbar-inner{
  width: 90%;
  height: 115px;
  border-bottom: solid .5px rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav-name{
  font-family: 'Bebas Neue', sans-serif;
}
.nav-links{
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  font-weight: 550;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
}
.nav-links-underline{

  border-bottom: 1px solid #ffffff;
  padding-bottom: 3px;
  letter-spacing: 2px;


}
.nav-links-underline:hover{
  color: rgb(0, 176, 73);
  border-bottom: 1px solid rgb(0, 176, 73);

}

/* ---NavBar End--- */