.App {
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
  font-style: normal;
  font-weight: 200;
  color: aliceblue;
  font-size: 3rem;
  display: flex;
  background-color: rgb(0, 0, 0);
  flex-direction: column;
align-items: center;


}
.hero-img{
  width: 100%;
  height: 100%;








}
.left-head{
  width: 800px;


}

h1{
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 3px;
  font-size: 6.8rem;
}
.i-github{
  height:20px;
  width:20px;
}

.project-arrow{
  line-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:30px;

}

/*Project Cabinet Start*/
.logo-ring-sm{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: solid 2px white;
  display:flex;
  justify-content: center;
  align-items: center;

}
.logo-inner-ring-sm{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.project-header{
  margin-bottom: 30px;
  font-family: 'Signika Negative', sans-serif;

}
.lang-btn{

  border-radius: 100px;
  padding: 5px 10px;
  font-size: 20px;
  font-family: 'Reem Kufi', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;



}



.tech-logo{


  width: 70px;
  height:70px;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
  /* -webkit-filter: contrast(0%); */
}


.title-name{
  display: flex;
  justify-content: start;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 3px;
  font-size: 5.8rem;

}

.project-cabinet{
  /* background-color: aqua ; */
  width: 100%;
  
  
  }
  
.projects{
  display: flex;
  /* border-bottom:2px solid grey ; */
  flex-direction: column;
  width: auto;

  border-radius:20px;

  display: flex;
  flex-direction: column;
  overflow-y:hidden ;
  overflow-x:hidden ;    
/* keeping this overflow off is coll effect */
  height: 200px;

  /* box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5); */
  background:rgba(255, 255, 255, 0.1);


  backdrop-filter: blur(25px);
  margin-top: 20px;

}
.projects:hover{
  /* color:#0be079 */
}

.hidden-container-info{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.project-summary-info{
  width: 60%;
  font-size: 40px;
}
.motion-pic{
height: auto;
width:500px;
margin-right: 18px;
/* margin-top:0px; */
margin-bottom: 10px;
background-color: #0be079;
border-radius:5px;
}
.fumb{
  width:600px;

/* background-color: #0be079; */
}

.container-2{
  
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  align-items: center;
  width: 100%;
  height:100%;
  /* background-color: blue; */
  justify-content: space-around;
}


.project-container2{

  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 100%;
  height:180px;


}
.project-container{
}
.black-motion{
 
}
.languages-used{
/* width: 600px; */



display: flex;

justify-content: end; 
grid-gap: 10px;

margin-right: 10px;
height: 60%;



}

.first{

  height:100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;

  justify-content: space-between;


}

.project-name{
  font-family: 'Biryani', sans-serif;
  font-size: 7.8rem;
  font-weight: 800;

  display: flex;
  justify-content: start;
  align-items: center;
  height:100px;
  margin-left: 10px;

}

.description{
  font-size: 1.15rem;
  display: flex;
  text-align: left;
  text-align: start;
  /* background-color: #0be079; */
  justify-content: start;
  height: 100%;
  margin-left: 10px;
  width: 600px;

}
.bullets{
  list-style-type: disc;
}

  
.two-button{

  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 160px;
  align-items: end;

}
.fi-arrow{
width: 100px;
height: 100px;
  
}
.rotate{

  transform: translate(0px, 0%) rotate(90deg);

}
.down{
  transform: translateY(-24px);
}
.source-link-name{
  font-size: 20px;
  height: 80px;
  width: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
  
}

.source-link-name{
  font-size: 20px;
  height: 80px;
  width: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
  
}
/*--Project Cabinet End-*/


.head{
  display: flex;
  justify-content: center;
  text-align: left;

  width: 120%;
  height:800px;
  margin-top:150px;
  background-size: cover;
  background-repeat: no-repeat;



background-image: url('./img/vecteezy_a-moving-digital-3d-wave-futuristic-dark-background-with_16708494.jpg');
}
.inner-head{
width: 130vh;

height: 40vh;

display: flex;
flex-direction: column;
padding-left: 15px;
border-width: 3px;
  border-style: solid;
  border-right: none;

  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.inner-h{
  font-size: 13vh;
}
.inner-text{
  font-size: 5vh;
  padding-top: 10px;
  width: 90vh;

}

.right-head{
  margin-right: 10px;

}
.right-head-text{
  font-size: 50px;

  padding-top: 70px;
}
.a{
  line-height: 70px;
}

.link-container{
 
}

img{
  height:30px;
  width:30px;
}
.contact-links{
  display: flex;
  flex-direction: row;
  grid-gap:25px;


}
.contact-links:hover{
  color: #0be079;
}

button{
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  font-family: 'Signika Negative', sans-serif;
  letter-spacing: 1.5px;
  color: aliceblue;
  border-radius: 4%;
  border: 0;

}

.btn{
  background-color: rgb(104, 3, 104);
  padding: 10px 15px 10px 15px;

}

.btn2{
  background-color: rgba(255, 255, 255, 0);
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;




}

.btn2:hover{
  color: black;
  background-color: aquamarine;

}



a{
  text-decoration: none;
  color: aliceblue;
}
a:hover{
  color: rgb(241, 178, 100);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover{
  color: rgb(241, 178, 100);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 150px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* SkillsBar */

.skills-bar-container{
  width:100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.logo-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-box-1{
  width: 480px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  
}
.skills-title{
  font-size: 50px;
}
.logo-text{
  font-size: 20px;
  color: black;
}
.logos{
  width: 80px;
  height: 80px;
}

.logo-ring{
  width: 130px;
  height: 130px;
  border-radius: 15px;
  /* border: solid 1px white; */
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
  background:rgb(238, 235, 235);
  /* background:rgba(255, 255, 255, 0.1); */

  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);


}
.logo-inner-ring{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.logo-inner-ring:hover{

}
.logo-ring:hover{

}


.circle{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 1500px;
  background:linear-gradient(rgb(241, 0, 0),rgb(203, 195, 195));
  clip-path: circle(10% at 30% 70%);
}

.circle2{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 1500px;
  background:linear-gradient(#eb0000,#000000);
  clip-path: circle(10% at 15% 50%);

}
/* .circle2-2{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 1500px;
  background:linear-gradient(#000000,#000000);
  clip-path: circle(10% at 15% 50%);
} */

.circle3{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 1500px;
  background:linear-gradient(#ff6600,#5df27f);
  clip-path: circle(7% at 70% 70%);
  z-index: -1;
}
.circle4{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 1500px;
  background:linear-gradient(#ee5b21,#ffc548);
  clip-path: circle(8% at 48% 58%);
  z-index: 0;
}


/*--End-SkillsBar--*/


/* NavBar Start */
.navbar{
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}
.navbar-inner{
  width: 90%;
  height: 115px;
  /* border-bottom: solid .5px rgb(255, 255, 255); */
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav-name{
  font-family: 'Bebas Neue', sans-serif;
}
.nav-links{
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  font-weight: 550;
  width: 600px;
  display: flex;
  justify-content: space-evenly;
}
.nav-links-underline{

  border-bottom: 1px solid #ffffff;
  padding-bottom: 3px;
  letter-spacing: 2px;


}
.nav-links-underline:hover{
  color: aquamarine;
  border-bottom: 1px solid aquamarine;

}

/* ---NavBar End--- */